.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0.5rem 0.5rem 0;
  border-radius: 0.5rem;
  background-color: white;
  width: 280px;
  height: 400px;
  border-radius: 20px;
  &__box {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--img {
      width: 100%;
    }

    &--title {
      font-family: "Chelsea Market";
      color: #4cc8d8;
      margin-top: 25px;
    }
  }
  &__description {
    padding: 14px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--species {
      font-family: "Chelsea Market";
      color: #4cc8d8;
    }
  }
}

.icon {
  width: 25px;
}

.link {
  text-decoration: none;
}
