.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/rick.png);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(67, 197, 230);
  width: 800px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0 0 20px #1cff1c;

  &__img {
    border-radius: 30px;
    border-radius: 200px;
    box-shadow: 0 0 50px #1cff1c;
  }

  &__description {
    width: 350px;
    height: 300px;
    box-shadow: 0 0 20px #1cff1c;
    border-radius: 20px;
    color: black;
    background-color: white;
    &--name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: purple;
      font-family: "Creepster", cursive;
      font-size: 24px;
      margin-top: 40px;
      word-spacing: 1rem;
    }
    &--box {
      border-top: 4px solid#1cff1c;
      margin: 20px 0 0 50px;
      width: 250px;
    }
  }
}

.species,
.origin,
.status,
.episode {
  display: flex;
  padding: 10px;
  font-family: "Chelsea Market";
  &__title {
    margin-right: 10px;
  }
}
