.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/rmFondo.png);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    width: 300px;
    margin-bottom: 80px;
  }
}

.characterModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 780px;
  height: 350px;
  padding: 10px;
  border-radius: 15px;

  &__img {
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 15px;
  }

  &__description {
    height: 300px;
    margin-left: 0px;
    color: black;
    background-color: white;
    &--name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #b475be;
      font-family: "Chelsea Market";
      font-size: 18px;
      margin: 0 10px 0 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #b475be;
    }
    &--box {
      width: 400px;
    }
  }
}

.species,
.status {
  font-family: "Roboto";
  &__text {
    display: flex;
    justify-content: space-between;
    padding: 19px;
    margin-top: 8px;
    color: #42c4d6;
    font-size: 18px;
    &--title {
      color: #42c4d6;
    }
  }
}

.origin,
.episode {
  font-family: "Roboto";
  &__text {
    display: flex;
    justify-content: space-between;
    background-color: #ebf9fb;
    padding: 18px;
    margin-top: 8px;
    color: #42c4d6;
    font-size: 18px;
    border-radius: 10px;
    &--title {
      color: #42c4d6;
    }
  }
}

.home {
  color: white;
  margin: 0 0 20px 672px;
  font-family: "Roboto";
  font-size: 20px;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
}
